
    .post{
            background-color: rgb(41, 118, 211);
            color:aliceblue;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-right: 3PX;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            transition: background-color 0.15s,
            box-shadow 0.15s;
            box-shadow: 0 5px 5px rgba(0,0,0,0.15);
            vertical-align: top;
        }


        .post:hover{
            background-color:  rgba(41, 118, 211,0.85);
            box-shadow: 0 5px 5px rgba(0,0,0,0.3);
        }

        .post:active{
            background-color:  hsl(210, 37%, 30%);
        }

        .mama{
            color:blue;
        }

        .mama:hover{
            color: rgb(80, 6, 150);
        }

        .edit{
            background-color: white;
            border-style: solid;
            border-color:#4b76a4;
            border-width: 1px;
            color:#4b76a4;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.15s,
            color 0.15s;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .edit:hover{
            background-color: #4b76a4;
            color: white;
        }

        .edit:active{
            opacity: 0.7;
        }
